body {
  background-color: #e6f2ff;
}
#logo{
  display:block;
  margin:auto;
  width:300px;
}
#intro{
  margin: auto;
  width: 80%;
  padding: 10px;
}
#intro h2{
  text-align: center;
  width:100%;
  font-weight: bold;
  color:black;
}
#foodTable, #drugTable{
  border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #337ab7, 0 0 0 5px white,  0 0 2px 10px #337ab7;
  background-color: #b3b3b3;
  margin-top: 20px;
}
